/* search */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.bgrectsvg{
position: absolute;
right: 0;
}
.main-search-input {
    background: rgb(255, 255, 255);
    padding: 0 120px 0 0;
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.3)

}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid rgb(238, 238, 238);
    height: 50px;
    position: relative
}

.main-search-input-item input:first-child {
    border-radius: 100%
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #FFC839
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px ;
    position: relative;
    
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-search-input-item input {
        border-radius: 15px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 15px
    }
}

/* image motion */
section{
    padding:2rem 9%;
  }

 .floatimg{
    flex:1 1 40rem;
    margin-left: 650px;
    margin-top:-70px;

}
 .floatimg img{
    width:100%;
    animation:float 3s linear infinite;
}

  
  @keyframes float{
    0%, 100%{
 
        transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  }  
/* register */

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  .wrapper{
    border-radius:18px;
    max-width: 500px;
    /* width: 100%; */
    background: #fff;
    margin: 50px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px 0px;
    width: 100%;
    text-align: right;
   
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffde59;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #ffde59;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .wrapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #ffde59;
    display: block;
    position: relative;
  }
  .wrapper .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #ffde59;
  }
  
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 10px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #ffde59;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #ffde59;
  }
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
  }


.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: #FFC839;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 20px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background-color: #FFC839;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}

.floatimg2{
    flex:1 1 40rem;
    margin-left: 800px;
    margin-top:-500px;

}
 .floatimg2 img{
    width:80%;
    animation:float 3s linear infinite;
}

.floatimg3{
  flex:1 1 40rem;
  margin-left: 800px;
  margin-top:-450px;

}
.floatimg3 img{
  width:80%;
  animation:float 3s linear infinite;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #FFC839;
  color: white;
}

.cart_table {
  min-width: 400px;
  font-size: 14px;
}

.cart_thead {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2em;
  background-color: #f8f9fa !important;
}

.cart_icon {
  text-decoration: none;
  color: #868e96 !important;
}

.stripe-button-el {
  width: 100% !important;
  display: block !important;
  background-color: #868e96 !important;
  margin-bottom: 5px;
}

.stripe-button-el span {
  height: 36px !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

body {
  background: #f3f3f3;
}

.product_title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 15px;
  padding-bottom: 10px;
}

.product_text {
  padding-right: 20px;
}

.product_description {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.errorlist li {
  color: red;
  font-weight: bold;
}

.custom_div {
  margin-bottom: 20px !important;
}
